.root {
  background: none;
  border: 1.5px solid #F7F7F7;
  border-radius: 32px;

  color: #F7F7F7;
  font-size: 16px;
  text-transform: uppercase;

  padding: 10px 20px;
  transition: all linear .1s;

  &:hover {
    border: 1.5px solid #ABB4BD;
    color: #ABB4BD;
  }
}

.red {
  background: #EF3651;
  box-shadow: 0px 4px 8px rgba(239, 54, 81, 0.35);
  border: none;
  transition: all linear .1s;

  &:hover {
    background: #EF3651;
    border: none;
    opacity: 0.9;
  }
}

.green {
  background: rgb(73, 185, 76);
  box-shadow: 0px 4px 8px rgba(3, 158, 5, 0.35);
  border: none;
  transition: all linear .1s;

  &:hover {
    background: rgba(3, 158, 5, 0.85);
    border: none;
    opacity: 0.9;
  }
}