.categories {
  display: flex;

  @media(max-width: 1200px) {
    margin-bottom: 30px;
  }

  li {
    margin: 5px;
  }

  // margin: 5px;

  @media(max-width: 580px) {
    flex-wrap: wrap;

    // li {
    //   margin: 5px 5px;
    // }
  }
}