.cart {
  width: 80%;
  margin: 0 auto;
  height: 100%;

  background: #fff;
  // box-shadow: 28px 28px 28px rgba(49, 49, 49, 0.1);
  border-radius: 24px;

  padding: 7%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // & li div {
  //   margin: 10px 0;
  // }

  &__list {}

  &__item {}

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}