.root {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 10px;
  height: 463px;
  padding: 20px 12px;

  .submit {
    display: block;
    background: rgb(73, 185, 76);
    box-shadow: 0px 4px 8px rgba(3, 158, 5, 0.35);
    border: none;
    transition: all linear .1s;
    border-radius: 32px;

    color: #F7F7F7;
    font-size: 16px;
    text-transform: uppercase;

    padding: 10px 20px;

    &:hover {
      background: rgba(3, 158, 5, 0.85);
      border: none;
      opacity: 0.9;
    }

    &:disabled {
      background-color: #8a8a8a;
      opacity: .5;
    }
  }
}