.header {
  padding: 30px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #313131;

    img {
      width: 40px;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 800;
    }

    h3,
    p {
      margin: 0 5px;
    }
  }
}