.sort {
  display: flex;
  position: relative;

  &__popup {
    position: absolute;
    right: 0;
    top: 30px;
    width: 132px;

    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
  }

  & li {
    padding: 10px 15px;
  }

  &__active {
    background: #313131;
    color: #fff;
  }
}