.sort {
  display: flex;
  position: relative;
  color: #F7F7F7;

  b {
    color: #ef3651;
  }

  &__popup {
    position: absolute;
    right: 0;
    top: 30px;
    width: 132px;

    background: #2A2C36;
    box-shadow: 0px 1px 5px #F7F7F7;
    // border: 1px solid #F7F7F7;

    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
  }

  &__rotated {
    transform: rotate(180deg);
  }

  & li {
    padding: 10px 15px;
    transition: all linear .1s;

    &:hover:not(.active) {
      cursor: pointer;
      color: #ef3651;
    }
  }

}

.active {
  background: #EF3651;
  color: #fff;
}